@import "../../style/mixin/mixin";
@import "../../style/mixin/button";

@include b(button) {
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    outline: none;
    line-height: 1;
    border-style: solid;
    border-radius: 4px;
    @at-root {
        @include buttonType(io-button-)
    }
}
