// info
$--color-info1:#CBE5F7 !default;
$--color-info2:#96CCEF !default;
$--color-info3:#5DB1E8 !default;
$--color-info4:#0497E0 !default;
$--color-info5:#008ADB !default;

// success
$--color-success1:#E3FAE3 !default;
$--color-success2:#C4ECC4 !default;
$--color-success3:#A5DEA5 !default;
$--color-success4:#86D086 !default;
$--color-success5:#68C268 !default;

// error
$--color-error1:#FFF6E5 !default;
$--color-error2:#FCE4C1 !default;
$--color-error3:#FDD59E !default;
$--color-error4:#FEC67B !default;
$--color-error5:#FAB758 !default;

// danger
$--color-danger1:#FFE7EA !default;
$--color-danger2:#F8C5C6 !default;
$--color-danger3:#F1A3A2 !default;
$--color-danger4:#EA817E !default;
$--color-danger5:#E35F5A !default;

// gray
$--color-gray1:#FAFAFA !default;
$--color-gray2:#F5F5F5 !default;
$--color-gray3:#E8E8E8 !default;
$--color-gray4:#D9D9D9 !default;
// 不可用色彩
$--color-gray5:#BFBFBF !default;
$--color-gray6:#A6A6A6 !default;
$--color-gray7:#8C8C8C !default;
// 不可用颜色
$--color-gray8:#737373 !default;
$--color-gray9:#595959 !default;
$--color-gray10:#404040 !default;
$--color-gray11:#262626 !default;
$--color-gray12:#171717 !default;
$--color-gray13:#0A0A0A !default;

// 基本色
$--color-black:#000000 !default;
$--color-white:#FFFFFF !default;
