@import '../../style/animation.scss';
@import "../../style/mixin/mixin";
@import "../../style/color/color";

@include b(icon) {
    .#{$state-prefix}disabled {
        cursor: not-allowed;
        fill: $--color-gray5;
    }
    .icon-loading {
        animation: rotating 1s infinite linear;
    }
}
