@import '../config/index';
@import '../color/color';
@import '../color/button';

// button
@mixin buttonColor($type) {
    color: map-get($button-color-map, --button-#{$type}-color);
    background-color: map-get($button-color-map, --button-#{$type}-background-color);
    border-color: map-get($button-color-map, --button-#{$type}-border-color);
    &:not(.#{$disabled}) {
        &:hover {
            color: map-get($button-color-map, --button-#{$type}-hover-color);
            background-color: map-get($button-color-map, --button-#{$type}-hover-background-color);
            border-color: map-get($button-color-map, --button-#{$type}-hover-border-color);
        }

        &:active {
            color: map-get($button-color-map, --button-#{$type}-active-color);
            background-color: map-get($button-color-map, --button-#{$type}-active-background-color);
            border-color: map-get($button-color-map, --button-#{$type}-active-border-color);
        }
    }
    &.#{$disabled} {
        cursor: not-allowed;
        color: map-get($button-color-map, --button-#{$type}-disabled-color);
        background-color: map-get($button-color-map, --button-#{$type}-disabled-background-color);
        border-color: map-get($button-color-map, --button-#{$type}-disabled-border-color);
    }
}

@mixin buttonType($name) {
    @each $type in (default, primary, info, success, error, warning) {
        .#{$name}#{$type} {
            @include buttonColor($type);
        }
    }
}
